:root {
--blueish:rgb(0, 105, 105);
--lightblue:rgb(33, 218, 218);
--whit: #fff;
--black: rgba(23, 14, 14, 0.967);
}

/*header*/
header {
    text-align:center;
    color:var(--whit);
    display: flex;
    background-color:var(--blueish);  
}

/* profile name*/
h1{
    font-family:Arial, Helvetica, sans-serif;
    padding: 1%;
    font-size: 35px;
}

/* profile photo*/
#myself {
margin: 2px;
border-radius: 100%;
margin-bottom: auto ;
margin-right: auto;
float:right;
border-color:var(--blueish);
border-style:outset;
border-width: 10px;
}

/*navagation bar*/
nav{font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    float: right;
    color:var(--whit);
    display: flex;
        background-color:var(--blueish);}
nav a { padding: 14px 17px;
        display: flex;
        text-decoration: none;
        color:var(--whit);}


/*body styling*/
body {
    background-color:var(--whit);
}
/*h2 styling*/
h2{
padding: 5px;
display: inline-block;
border-style:outset;
border-width: 3px;
border-color:var(--lightblue);
border-radius: 30px;
font-size: 30px;
margin: 20px;
color:var(--black);
font-weight: 600;
font-style:bold;
font-family: Arial, Helvetica, sans-serif;font-size: x-large;
}

/*defines font, and margin for paragaphs and contact  */
p , .contact {
font-size: 18px;
word-spacing: 4px;
line-height: normal;
margin-left: 20px;
margin-right: 20px;
margin-top: 15px;
margin-bottom:15px;
font-family: Arial, Helvetica, sans-serif;
color:var(--black);
text-shadow: 10px;
text-align: left;}

/*defines anchor tag styling*/

.work a { 
    text-size-adjust: 40px;
    text-decoration: none;
    color:var(--whit);}

a {color:var(--whit);
    text-decoration: none;}

.work-hero a { 
    font-size: xx-large;
    text-decoration: none;
    color:var(--whit);}


/*difines work box & img styling */
.work {
    
     width: 21%;
    margin: 2%;
    padding: 20px;
 }

.work header {
    padding: 20px;
    border-radius: 20px 20px 0px 0px ;
  }

.work a {
    font-size: 20px;
    text-align: center;}
.work img {
    width: 100%;
    border-radius: 0px 0px 10px 10px}

/*bigger work img*/
.work-hero p{
text-align: center;
color:var(--blueish);}

.work-hero header {
    
    text-align:center;
    padding: 20px;
    border-radius: 40px 40px 0px 0px}

.work-hero{
margin-left: 5%;
margin-right: 5%;
text-align: center;
width: 90%;
min-width: 400px;
max-width: 2000px;
}

.hero-img{
border-radius: 0px 0px 40px 40px;
display: block;
width:100%;
height: 350px;}

/*hover affect*/

.contact a:hover {border-style:double;
    border-width: 10px;
    border-color:var(--lightblue);
    border-radius: 40px;}

nav a:hover {
    border-style:double;
    border-width: 10px;
    border-color:var(--lightblue);
    border-radius: 40px;
    }

.work-hero:hover {
    border-style:double;
    border-width: 10px;
    border-color:var(--lightblue);
    border-radius: 40px;
    }
.work a:hover{
    border-bottom: 2px solid #fff;
    transition-delay: 20ms;
}
.work-hero a:hover{
    border-bottom: 2px solid #fff;
    transition-delay: 20ms;
}
.work:hover {
    border-style: double;
    border-width: 10px;
    border-color:var(--lightblue);
    border-radius: 10%;
    }

/*governs how the contacts will look*/
.spacing {margin: 10px;}
.contact{
    background-color:var(--blueish);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-decoration:var(--whit);
    margin: 0%;
    flex-direction: row;
    float: none;
    color:var(--whit);
    display: flex;}
    
.container {
    display: flex;
    ;
    flex-wrap: wrap;
}
/*moble friendly code*/
@media (max-width:500px)  {.work
    {width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 300px;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 30px;
    margin-bottom: 60px;
   
}}

@media (max-width:500px)  {section.work
    {width: 100%;
    height: 80%;
    max-width: 500px;
    margin-left: 1%;
    margin-right: 1%;

}}
@media (max-width:500px)  {section.work-hero
    {width: 100%;
    height: 80%;
    max-width: 500px;
    margin: 0%;

}}

@media (max-width:500px)  {.hero-img
    {width: 100%;
    height: 80%;
    max-width: 500px;
    margin: 0%;

}}
@media (max-width:900px) { .work {width: 46%;}}


    
